//swiper des personnages
.main-character {
  position: relative;
  font-size: 20px;
  top: 250px;
  & h3 {
    background-image: url(../images/orange-characters.png);
    position: relative;
    right: 400px;
    margin-top: 100px;
  }
  & figcaption {
    padding-left: 35%;
  }
}

.swiper {
  width: 1400px;
  padding-top: 50px;
  padding-bottom: 50px;
}
  
.swiper-slide {
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
  & img {
  display: flex;
  flex-direction: row;
  width: 360px;
  margin-left: 65px;
  }
}
  