//animation du bas vers le haut de la section histoire et studio vers la video
.story, #studio {
  @include anim-purpleTitle-video
}

// animation du haut vers le bas de la video avec la section histoire et studio
#background-video, .banner {
  @include anim-video-purpleTitle
}

  /*section nomination oscars*/
#oscars-id {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 100%;
}
.oscars-orange {
  height: 196px;
  width: 60%;
}
.oscars-background img{
  position: absolute;
}
.oscars-text {
  position: relative;
  font-size: 38px;
  font-weight: 600;
  font-family: quicksand;
  color: #FFF5E9;
  margin-left: 70px;
  bottom: 280px;
  width: 80%;
}
.site-footer{
  &::before {
      content: none;
  }
  &::after {
      content: none;
}}
.oscars-bloc::before {
  content: url(../images/Sunflower.svg);
  position: relative;
  bottom: 100px;
  left: 60px;
}
.oscars-bloc::after {
  content: url(../images/orchid.png);
  position: relative;
  left: 100px;
  bottom: 100px;
}