@keyframes down-up {
        //titre logo et section histoire et studio
	0% {
    opacity: 0;
		transform: translateY(100%);
	}
	100% {
    opacity: 1;
		transform: translateY(0);
	}
}

@media (prefers-reduced-motion: no-preference) {
    .banner img, .story, #studio {
      animation-name: down-up;
      animation-duration: 1500ms;
    }
  }

@keyframes up-down {
     //image de fond logo
	0% {
    opacity: 0;
		transform: translateY(-100%);
	}
	100% {
    opacity: 0.3;
		transform: translateY(0);
	}
}
@media (prefers-reduced-motion: no-preference) {
    #background-video, .banner {
      animation-name: up-down;
      animation-duration: 1s;
    }
  }

  /*section nomination oscars*/
#oscars-id {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 100%;
}
.oscars-orange {
  height: 196px;
  width: 60%;
}
.oscars-background img{
  position: absolute;
}
.oscars-text {
  position: relative;
  font-size: 38px;
  font-weight: 600;
  font-family: quicksand;
  color: #FFF5E9;
  margin-left: 70px;
  bottom: 280px;
  width: 80%;
}
.site-footer{
  &::before {
      content: none;
  }
  &::after {
      content: none;
}}
.oscars-bloc::before {
  content: url(../images/Sunflower.svg);
  position: relative;
  bottom: 100px;
  left: 60px;
}
.oscars-bloc::after {
  content: url(../images/orchid.png);
  position: relative;
  left: 100px;
  bottom: 100px;
}