//animation du bas vers le haut de la section histoire et studio vers la video
.story, #studio {
  @include anim-purpleTitle-video
}

// animation du haut vers le bas de la video avec la section histoire et studio
#background-video, .banner {
  @include anim-video-purpleTitle
}

  /*section nomination oscars*/
#oscars-id {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 100%;
}
.oscars-orange {
  height: 12em;
}
.oscars-background img{
  position: absolute;
  margin: 0;
}
.oscars-text {
  position: relative;
  font-size: 38px;
  font-weight: 600;
  font-family: quicksand;
  color: #FFF5E9;
  margin-left: 2em;
  bottom: 7em;
  width: 16em;
}
.oscars-nomination {
  margin-left: -50px;
}
.site-footer{
  &::before {
      content: none;
  }
  &::after {
      content: none;
}}
.oscars-bloc::before {
  content: url(../images/Sunflower.svg);//marguerite
  position: relative;
  bottom: 100px;
  left: 60px;
}
#oscars-id::after{
  content: url(../images/orchid.png);//fleur violette à droite
  position: relative;
  left: 100px;
  top: -100px;
  transform-origin: 50% 40%;
}



