//section place modifié avec ajout nuages
#place::before {
    position: absolute;
    content: url("../images/Studio_Koukaki-image_place.png");
}
.big-cloud {
    position: absolute;
    filter: blur(16px);
    bottom: 500px;
    left: 1050px;
}
.little-cloud {
    position: absolute;
    filter: blur(12px);
    bottom: 400px;
    left: 790px;
    width: 142px;
    height: 55px;
}
/*.anim-clouds {
    & h3::after {
    position: absolute;
    content: url(../images/big_cloud.png);
    filter: blur(16px);
    bottom: 140px;
    left: 950px;
    }
    & h3::before {
    position: absolute;
    content: url(../images/little_cloud.png);
    filter: blur(16px);
    top: 60px;
    left: 730px;
    width: 142px;
    height: 55px;
}
}*/
#place {
    margin-top: 300px;
    & h3 {
    position: relative;
    }
    & p {
    position: relative;
    top: 10px;
    font-size: 15px;
    color: black;
    }
}

//mouvement des nuages
/*.anim-clouds-scroll {
    & h3::before {
    @include clouds-move;
    }
    & h3::after {
    @include clouds-move;   
}
}*/

