$color-title: #FFF5E9;

//titre Histoire
@keyframes move-text2 {
	0% {
	  opacity: 0;
	  transform: translateY(100%);
	}
	100% {
	  opacity: 1;
	  transform: translateY(40%);
	}
  }

@media (prefers-reduced-motion: no-preference){
.title-story h1{
	opacity: 0;
	position: relative;
	font-family: quicksand;
	font-weight: bold;
	font-size: 62px;
	right: 12%;
	margin-top: 80px;
	color: $color-title;
    transform: translateY();
	}
}
 /* Ajouter l'animation lorsque la classe est présente */
.animate-text-story {
    animation: move-text2 2s ease-in-out forwards;
}

.title-story img {
	position: absolute;
	width: 25%;
	height: 350px;
	padding-top: 80px;
	padding-bottom: 120px;
	right: 580px;
}

//la branche de gauche avec la fleur blanche à côté du titre L'histoire
.story::before {
	position: absolute;
	content: url(../images/sunflower_leaves.png);
	left: 50px;
	top: 140px;
}
.story::after {
	position: absolute;
	content: url(../images/Sunflower.png);
	left: 90px;
	top: 380px;
}

//titre Studio koukaki
@keyframes move-text {
	0% {
	  opacity: 0;
	  transform: translateY(70%);
	}
	100% {
	  opacity: 1;
	  transform: translateY(-50%);
	}
  }  

@media (prefers-reduced-motion: no-preference){
.background h4 {
	opacity: 0;
    transform: translateY();
	position: absolute;
	background-image: fixed;
	font-family: quicksand;
	font-weight: bold;
	font-size: 62px;
	margin-left: 18%;
	color: $color-title;
	}
}

 /* Ajouter l'animation lorsque la classe est présente */
 .background h4.animate-text {
    animation: move-text 2s ease-in-out forwards;
  }

.background img {
	position: relative;
	width: 60%;
	margin: auto;
}
#studio .title {
	display: none;
}
.anim-titles::before{
	position: absolute;
	content: url(../images/random_flower.png);
	left: -80px;
}
.anim-titles::after {
	position: absolute;
	content: url(../images/flower.png);
	bottom: 220px;
	right: 80px;
}