//flottement du logo
.banner img {
	@include floatElement;
}

//bannière video
#background-video {
    position: absolute;
    width: max-content;
    }
.banner > img {
    position: relative;
    right: 5%;
}
@media (min-width:400px) and (max-width:1440px) {
    #background-video, #place::before {
        right: 0.01px;
        }
}