//flottement du logo
.banner img {
	@include floatElement;
}

//bannière video
#background-video {
    position: relative;
    left: 25%;
    width: auto;

    }
.banner > img {
    position: relative;
    right: 50%;
}
