$color-title: #FFF5E9;

//titre Histoire

.text-story {
	position: relative;
	font-family: quicksand;
	font-weight: bold;
	font-size: 62px;
	right: -30%;
	margin-top: -160px;
	color: $color-title;
/* Ajouter l'animation du titre L'histoire lorsque la classe est présente */
		//@include anim-title-story;
	}

.title-story img {
	width: 100%;
	padding-top: 7%;
	margin-left: 30%;
}
.story__article {
	flex-direction: row;
	& p {
		position: absolute;
		display: flex;
		right: 400px;
		left: 400px;
		top: 200px;
	}
	
}

//la branche de gauche avec la fleur blanche à côté du titre L'histoire
.story::before {
	position: absolute;
	content: url(../images/sunflower_leaves.png);
	left: 50px;
	top: 140px;
}
.story::after {
	position: absolute;
	content: url(../images/Sunflower.png);
	left: 90px;
	top: 380px;
}

//animation titre Studio koukaki
.text-studio {
	position: absolute;
	background-image: fixed;
	font-family: quicksand;
	font-weight: bold;
	font-size: 62px;
	margin-left: 18%;
	color: $color-title;
 /* Ajouter l'animation au titre Studio koukaki lorsque la classe est présente */
  	@include anim-title-studio;
	}
.background img {
	position: relative;
	width: 60%;
	margin-left: 190px;
}
#studio .title {
	display: none;
}
.anim-titles::before{
	position: absolute;
	content: url(../images/random_flower.png);
	left: -80px;
}
.anim-titles::after {
	position: absolute;
	content: url(../images/flower.png);
	bottom: 220px;
	right: 80px;
}
