@keyframes move-text {
	0% {
	  transform: translateY(50%);
	}
	50% {
		transform: translateY(0);
	}
	100% {
	  transform: translateY(-20%);
	}
  }
.background p {
	animation: move-text 3s ease-in-out forwards;
    transform: translateY(20px);
}
 
.background img {
	position: relative;
	width: 75%;
	height: auto;
	margin: auto;
}
#studio .title {
	display: none;
}
.background p {
	position: absolute;
	color: white;
	font-family: quicksand;
	font-weight: bold;
	font-size: 62px;
	margin-left: 18%;
	top: 10px;
	color: #FFF5E9;
}
