@keyframes down-up {
	0% {
		transform: translateY(100%);
	}
	50% {
		transform: translateY(0);
	}
}
@media (prefers-reduced-motion: no-preference) {
    .banner img, .story, #studio {
      //titre logo et section histoire et studio
      animation-name: down-up;
      animation-duration: 3s;
    }
  }

  @keyframes up-down {
	0% {
        opacity: 0;
		transform: translateY(-30%);
	}
	100% {
        opacity: 1;
		transform: translateY(0);
	}
}
@media (prefers-reduced-motion: no-preference) {
    .banner {
      //image de fond logo
      animation-name: up-down;
      animation-duration: 2s;
    }
  }
