$color-title: #FFF5E9;

//titre Histoire
.title-story h1{
	opacity: 0;
	position: relative;
	font-family: quicksand;
	font-weight: bold;
	font-size: 62px;
	right: 12%;
	margin-top: 80px;
	color: $color-title;
	}
 /* Ajouter l'animation du titre L'histoire lorsque la classe est présente */
.animate-text-story {
    @include anim-title-story;
}

.title-story img {
	position: absolute;
	width: 25%;
	height: 350px;
	padding-top: 80px;
	padding-bottom: 120px;
	right: 580px;
}

//la branche de gauche avec la fleur blanche à côté du titre L'histoire
.story::before {
	position: absolute;
	content: url(../images/sunflower_leaves.png);
	left: 50px;
	top: 140px;
}
.story::after {
	position: absolute;
	content: url(../images/Sunflower.png);
	left: 90px;
	top: 380px;
}

//animation titre Studio koukaki
.background h4 {
	opacity: 0;
	position: absolute;
	background-image: fixed;
	font-family: quicksand;
	font-weight: bold;
	font-size: 62px;
	margin-left: 18%;
	color: $color-title;
	}

 /* Ajouter l'animation au titre Studio koukaki lorsque la classe est présente */
 .background h4.animate-text {
    @include anim-title-studio;
  }

.background img {
	position: relative;
	width: 60%;
	margin: auto;
}
#studio .title {
	display: none;
}
.anim-titles::before{
	position: absolute;
	content: url(../images/random_flower.png);
	left: -80px;
}
.anim-titles::after {
	position: absolute;
	content: url(../images/flower.png);
	bottom: 220px;
	right: 80px;
}