//écran tablette inférieur ou égale à 768px, écran mobile inférieur ou égale à 480px
    /***Ecran de 768px***/
    @media (min-width:750px) and (max-width:899px) {
    /** section navbar, video, logo et menu**/
        .main-navigation {
            height: 100px;
        }
        #background-video {
            padding-top: 100px;
            padding-bottom: 100px;
            width: 100%;
        }
        .banner {
            min-height: 420px;
            margin-bottom: 100px;
            & img {
                width: 40%;
            }
        }    
        .float-logo {
            top: -20px;
            right: -220px;  
        }
        .sidenav-class .title-menu {
            left: 10%;
            top: 30px;
        }
        .sidenav-class .close {
            height: 850px;
        }.main-navigation ul li {
            font-size: 30px;
        }
        .site-title img {
            max-width: 50%;
            margin-left: 70px;
        }

// ajouter les images dans le menu burger
        .site-studio-down p {
            &::after {//fleur footer
                top: -200px;
                right: -660px;
        }
        }
        .site-story {
            &::after {//grande fleur marguerite
                left: 200px;
                top: -230px;
            }
        }
        .site-place {
            &::before {//boule de petites fleurs
                right: 300px;
            }
            &::after {//chat noir
                left: 200px;
            }
        }
        .site-characters {
            &::before {//fleur violette
                right: 530px;
                bottom: 260px;
            }
        }
        .site-studio {
            &::before {//chat orange
                right: 360px;
                bottom: 50px;
            }
            &::after {//petite fleur rose
                bottom: 300px;
                left: 460px;
            }
        }
        
    /** section L'histoire **/
    #story {
        position: relative;
        margin-top: 2%;
    }
    .story {
        &::before {
        content: none;
        }
        &::after {
            top: -50px;
        }
    }
    #story p {
        position: relative;
        left: -100px;
        width: 120%;
    }
    .text-story {
        right: -250px;
        margin-top: -100px;
        font-size: 40px;
    }
    .title-story img {
        position: absolute;
        width: 40%;
        top: -10px;
        right: 200px;
    }
    /** section Les personnages **/
        .swiper {
            width: 800px;
        }
        .swiper-slide {
            height: 50px;
            & img {
            width: 140px;
            }
        }
        .main-character h3 {
           right: 100px;
        }
        .story #characters {
            display: none;
        }
    /** section Lieu**/
    .story #place {
        min-height: 400px;
    }
    #place p {
        width: 120%;
        top: 0; 
        font-size: 12px;
    }
    #place::before {//image superposée de la section Lieu
        content: none;
    }
    .big-cloud {
        display: none;
    }
    .little-cloud {
        display: none;
    }
    /** section Studio Koukaki **/
        .text-studio { //titre Studio koukaki
            font-size: 30px;
            left: 5em;
        }
        .background img {
            width: 70%;
            right: 100px;
        }
        .anim-titles {
        &::before {
            content: none;
            }
        &::after {
            content: none;
            }
        }
        .oscars-bloc {
            &::before {
                content: none;
            }
        }
        #oscars-id::after {
                content: none;
            }
        #oscars-id {
            flex-direction: column;
            &::after {
                margin-top: -900px;
            }
        }
        .oscars-nomination {
            margin-top: 100px;
            width: 80%;
            margin-left: 50px;
        }
    }