//ecran desktop inférieur ou égal à 1600px entre 769px à 1601px, desktop du site est égale à 1440px

@media (min-width:920px) and (max-width:1024px) {
    .story::before {
        left: -20px;
        top: 150px;
    }
    .story::after {
        left: 40px;
    }
    .text-story {//titre L'histoire
        margin-top: -105px;
        font-size: 40px;
        color: $color-title;
    }
    .title-story img {
        width: 60%;
    }
    .story__article {//titre L'histoire et son paragraphe
        margin-top: 50px;
        &::before {//branche de la fleur orange de L'histoire
            right: -100px;
            margin-top: -80px;
        }
        &::after {//fleur orange de l'histoire
            right: -100px;
            margin-top: -80px;
        }
    }

    .sidenav-class .title-menu {
        left: 30%;
    }
    .swiper {
        width: 800px;
      }
      .swiper-slide {
        height: 100px;
        & img {
        width: 150px;
        }
    }
.home {
    margin-left: 100px;
    margin-right: 50px;
}
#background-video {
width: 100%;
padding-top: 360px;
padding-bottom: 300px;
}
.banner {
    min-height: 460px;
    margin-bottom: 100px;
}

}

//écran tablette inférieurou égale à 768px, média entre 481px et 768px
@media (min-width:481px) and (max-width:768px) {
    .home {
        margin-left: 100px;
    }
    
    #background-video,
    #place::before 
    {
        width: 100%;
        left: 11%;
        }
    .banner {
        min-height: 520px;
    }
    .story::before {
        display: none;
    }
    .story::after{
        display: none;
    }
    .text-story {
        font-size: 18px;
        margin-top: 50px;
    }
    .title-story img {
        height: 12%;
    }
    .sidenav-class .title-menu {
        font-size: 21px;
        font-weight: bold;
        position: absolute;
        bottom: 30px;
        left: 15%;
    }
    .swiper {
        width: 60%;
      }
      .swiper-slide {
        height: 100px;
        & img {
        width: 28%;
        }
}
}

/* Media query pour les écrans de bureau */
/*@media only screen and (min-width: 1024px) {
    body {
      font-size: 18px;
      /* Ajoutez d'autres styles pour les écrans de bureau ici */

/* Media query pour une taille d'écran moyenne tablette*/
/*@media only screen and (max-width: 768px) {
    .img-responsive {
      width: 80%;
    }
  }*/
  
  /* Media query pour les écrans plus petits smartphone*/
  /*@media only screen and (max-width: 480px) {
    .img-responsive {
      width: 60%;
    }
  }*/
  