@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@keyframes down-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes up-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 0.3;
    transform: translateY(0);
  }
}
@keyframes parallax-title {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes move-text2 {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(40%);
  }
}
@keyframes move-text {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%);
  }
}
@keyframes clouds {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-300px);
  }
}
@keyframes rotateAnimation {
  to {
    transform: rotate(360deg);
  }
}
@keyframes floatAnimation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
/*rotation des fleurs page principale*/
.story::after,
.story__article::after,
#studio h2::before,
#studio h2::after,
.title-story::before,
.anim-titles::before,
.anim-titles::after,
.oscars-bloc::before,
.oscars-bloc::after,
.site-footer ul::after,
.site-characters::before,
.site-story::after,
.site-place::before,
.site-studio::after,
.close p::after {
  animation: rotateAnimation 20s linear infinite;
}

.story, #studio {
  animation-name: down-up;
  animation-duration: 1500ms;
}

#background-video, .banner {
  animation-name: up-down;
  animation-duration: 1s;
}

/*section nomination oscars*/
#oscars-id {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 100%;
}

.oscars-orange {
  height: 196px;
  width: 60%;
}

.oscars-background img {
  position: absolute;
}

.oscars-text {
  position: relative;
  font-size: 38px;
  font-weight: 600;
  font-family: quicksand;
  color: #FFF5E9;
  margin-left: 70px;
  bottom: 280px;
  width: 80%;
}

.site-footer::before {
  content: none;
}
.site-footer::after {
  content: none;
}

.oscars-bloc::before {
  content: url(../images/Sunflower.svg);
  position: relative;
  bottom: 100px;
  left: 60px;
}

.oscars-bloc::after {
  content: url(../images/orchid.png);
  position: relative;
  left: 100px;
  bottom: 100px;
}

.banner img {
  animation: floatAnimation 2s ease-in-out infinite;
  transform: translateY(20px);
  animation-name: up-down;
  animation-duration: 1s;
}

.anim-title-video {
  transform: translate(-50%, -50%);
  animation: parallax-title 2s ease-in-out infinite;
}

#background-video {
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  background-attachment: fixed;
}

.banner > img {
  position: relative;
  right: 15%;
}

#place::before {
  position: absolute;
  content: url("../images/Studio_Koukaki-image_place.png");
}

.anim-clouds h3::after {
  position: absolute;
  content: url(../images/big_cloud.png);
  filter: blur(16px);
  bottom: 140px;
  left: 950px;
}
.anim-clouds h3::before {
  position: absolute;
  content: url(../images/little_cloud.png);
  filter: blur(16px);
  top: 60px;
  left: 730px;
  width: 142px;
  height: 55px;
}

#place h3 {
  position: relative;
}
#place p {
  position: relative;
  top: 10px;
  font-size: 15px;
  color: black;
}

.anim-clouds-scroll h3::before {
  animation: clouds 2s ease-in-out forwards;
  transform: translateX();
}
.anim-clouds-scroll h3::after {
  animation: clouds 2s ease-in-out forwards;
  transform: translateX();
}

.title-story h1 {
  opacity: 0;
  position: relative;
  font-family: quicksand;
  font-weight: bold;
  font-size: 62px;
  right: 12%;
  margin-top: 80px;
  color: #FFF5E9;
}

/* Ajouter l'animation du titre L'histoire lorsque la classe est présente */
.animate-text-story {
  animation: move-text2 2s ease-in-out forwards;
  transform: translateY();
}

.title-story img {
  position: absolute;
  width: 25%;
  height: 350px;
  padding-top: 80px;
  padding-bottom: 120px;
  right: 580px;
}

.story::before {
  position: absolute;
  content: url(../images/sunflower_leaves.png);
  left: 50px;
  top: 140px;
}

.story::after {
  position: absolute;
  content: url(../images/Sunflower.png);
  left: 90px;
  top: 380px;
}

.background h4 {
  opacity: 0;
  position: absolute;
  background-image: fixed;
  font-family: quicksand;
  font-weight: bold;
  font-size: 62px;
  margin-left: 18%;
  color: #FFF5E9;
}

/* Ajouter l'animation au titre Studio koukaki lorsque la classe est présente */
.background h4.animate-text {
  /* Ajouter l'animation au titre studio koukaki lorsque la classe est présente */
  animation: move-text 2s ease-in-out forwards;
}

.background img {
  position: relative;
  width: 60%;
  margin: auto;
}

#studio .title {
  display: none;
}

.anim-titles::before {
  position: absolute;
  content: url(../images/random_flower.png);
  left: -80px;
}

.anim-titles::after {
  position: absolute;
  content: url(../images/flower.png);
  bottom: 220px;
  right: 80px;
}

/*Sidenav menu*/
label, #toggle {
  display: none;
  position: relative;
  right: 50px;
  top: 25px;
}

.sidenav-class .close {
  position: relative;
  display: none;
  flex-direction: column;
  background: #FFF5E9;
  height: 1000px;
  margin-top: 48px;
  padding-top: 50px;
  font-weight: 400;
}

label {
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 40px;
  margin-right: 50px;
  cursor: pointer;
}

#toggle:checked + .close {
  display: flex;
}

.sidenav-class .title-menu {
  font-size: 21px;
  font-weight: bold;
  position: absolute;
  bottom: 30px;
  left: 500px;
}

.sidenav-class a {
  position: relative;
  bottom: 100px;
}

.main-navigation ul {
  flex-direction: column;
  overflow: hidden;
}
.main-navigation ul > li {
  font-size: 64px;
  margin-bottom: 50px;
}

.main-navigation li a:hover {
  text-shadow: 10px 0px 10px rgba(255, 92, 0, 0.8);
}

/*.burger-icon .line {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }*/
.active-icon {
  content: url(../images/close.png);
}

.site-studio-down p {
  margin: auto;
  font-size: 16px;
}
.site-studio-down p::after {
  content: url(../images/hibiscus_footer.png);
  position: absolute;
  top: -220px;
  right: -980px;
}

.site-story {
  margin-top: 50px;
}
.site-story::before {
  content: url(../images/cat-purple.svg);
  position: absolute;
  left: -280px;
  top: -130px;
  animation: floatAnimation 2s ease-in-out infinite;
  transform: translateY(20px);
}
.site-story::after {
  content: url(../images/Sunflower.svg);
  position: absolute;
  left: 470px;
  top: -200px;
}

.site-place::before {
  content: url(../images/Flower-multi.svg);
  position: absolute;
  right: 500px;
  bottom: 110px;
}
.site-place::after {
  content: url(../images/cat-black.svg);
  position: absolute;
  left: 500px;
  bottom: 30px;
  animation: floatAnimation 2s ease-in-out infinite;
  transform: translateY(20px);
}

.site-characters::before {
  content: url(../images/orchid.png);
  position: absolute;
  right: 830px;
  bottom: 300px;
}

.site-studio::before {
  content: url(../images/cat-orange.svg);
  position: absolute;
  right: 760px;
  animation: floatAnimation 2s ease-in-out infinite;
  transform: translateY(20px);
}
.site-studio::after {
  content: url(../images/random_flower-little.png);
  position: absolute;
  bottom: 370px;
  left: 930px;
}

.main-character {
  position: relative;
  height: 100%;
}

.main-character {
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}
.swiper-slide img {
  display: block;
  width: 10%;
}

@media (min-width: 400px) and (max-width: 1440px) {
  #background-video,
  #place::before {
    right: none;
  }
}/*# sourceMappingURL=koukaki.css.map */